<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Task1</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="header">
        <div class="tabs">
            <div class="tab tab1 active-tab">Tab 1</div>
            <div class="tab tab2">Tab 2</div>
            <div class="tab tab3">Tab 3</div>
        </div>
    </div>
    <div class="tab-body TB1">
        <div class="container">
            <div class="side-bar">
                <div class="filters">
                    <form action="/filter" method="POST">
                        <div class="filter mad-filter active-filter kernal">Median Filter</div>
                        <div class="filter gaussian-filter kernal">Gaussian Filter</div>
                        <div class="filter avg-filter kernal">Averaging Filter</div>
                        <div class="filter lp-filter radius-filter">Low-Pass Filter</div>
                        <div class="filter hp-filter radius-filter">High-Pass Filter</div>
                    </form>
                    <div class="kernal-size">
                        <div class="kernal-size-title">Kernal Size</div>
                        <input type="number" min="1" max="7" step="2" id="kernal">
                    </div>
                    <div class="radius">
                        <div class="radius-title">Radius Size</div>
                        <input type="number" min="0" max="256" step="1" id="raduis">
                    </div>
                </div>

                <div class="snr">
                    <div class="noise-title">
                        <div class="title">Noise</div>
                    </div>
                    <div class="noise-types">
                        <form action="/noise" method="POST">
                            <div class="noise-type uniorm-noise active-noise-type">Unifrom Noise</div>
                            <div class="noise-type gaussian-noise" >Gaussian Noise</div>
                            <div class="noise-type sp-noise" >Salt & Pepper Noise</div>
                        </form>
                    </div>
                    <div class="slider-title">
                        SNR
                    </div>
                    <form action="/SNR" method="POST">
                    <div class="slider">
                        <input type="range" step="1" min="0" max="100" value="100" id="snr-slider">
                        <div class="snr-slider-value">100</div>
                    </form>
                    </div>
                </div>
                <div class="upload-img">
                    <input type="file" id="upload" class="upload">
                </div>
            </div>
            <div class="imgs">
                <div class="img original-img">
       
                </div>
                <div class="img filtered-img">

                </div>   
            </div>
        </div>
    </div>
    <div class="tab-body TB2">
        ANA TAB 2
    </div>
    <div class="tab-body TB3">
        ANA TAB 3
    </div>
</body>
<script src="/static/JS/main.js"></script>
<script src="/static/JS/functions.js"></script>
<script src="/static/JS/all.min.js"></script>
</html>